/* css styles */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

/*-----------------------*/
/*---- Main Document ----*/
/*-----------------------*/

body {
  font-family: "Lora", serif;
  font-size: 14px;
  background-color: #D3EEFF;
}

main.content {
  width: 800px;
}

#quarto-content {
  background-color: white;
  max-width: 1200px;
  margin: auto;
  padding: 0;
}

h1 {
  color: black;
}

/*---- Table Of Contents ----*/

h3 {
  font-size: 0.5px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 0.5px;
  font-weight: bold;
  color: white;
  margin-bottom: -5px;
}

#TOC ul {
  font-size: 12px;
}

#toc-title {
  font-size: 0;
}

#toc-title::after {
  content: "Contents";
  font-size: 18px;
  font-weight: 600;
  color: #1F3A56;
}

/*------------------------*/
/*---- Naviagtion Bar ----*/
/*------------------------*/

.navbar {
  background-color: #DCEEF9 !important;
  border-bottom: 2px solid #9FC1D7;
}

.navbar-nav {
  font-size: 16px;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #1F3A56 !important;
}

/*------------------*/
/*---- Homepage ----*/
/*------------------*/

.bio-block {
  line-height:0.5;
  font-size: 13px;
  margin-top: 12px;
}

.aboutme-text {
  text-align: justify;
  margin-top: -12px;
}

/*--------------------------*/
/*---- Publication page ----*/
/*--------------------------*/

.publication-title {
  text-decoration: none;
  color: #4A90E2;
}

.publication-title:hover {
  text-decoration: underline;
}

.publication-text {
  text-align: justify;
  padding-left: 25px;
  text-indent: -25px;
}

/*-----------------------*/
/*---- Software page ----*/
/*-----------------------*/

.software-block {
  font-size: 14px;
  line-height: 1.4;
  margin-top: 0px;
  margin-bottom: 30px;
}

.software-header {
  font-size: 22px;
  display: block;
  margin-top: 24px;
  margin-bottom: 0px;
}

.software-block ul {
  margin-top: -10px;
  margin-bottom: 0px;
}

.software-entry {
  padding-left: 25px;
  text-indent: -25px;
}

/*-----------------------*/
/*---- Research page ----*/
/*-----------------------*/

.research-header {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.research-subheader {
  font-size: 18px;
  font-weight: bold;
  color: #4F4F4F;
}

.research-text {
  text-align: justify;
}


